body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.form-group label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

.form-group p {
	display: inline-block;
	margin: 0;
	text-align: left;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}



button {
	display: block;
	width: 50%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

button:hover,
a:hover {
	background-color: #0056b3;
}

textarea {
	flex: 1;
	width: calc(100% - 110px);
	height: 200px;
	resize: none;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-family: Arial, sans-serif;
	text-align: left;
}

header {
	background-color: #007bff;
	color: #fff;
	padding: 10px;
	text-align: center;

}

nav {
	display: inline-block;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	margin: 0 10px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #0056b3;
}

.header-right {
	display: flex;
	justify-content: flex-end;
}

header div {
	margin-top: 20px;
	float: right;
}


.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.search-container input[type="text"] {
	flex: 1;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.search-container button {
	width: 20%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

.search-container button:hover {
	background-color: #0056b3;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 20px;
}

.board-number-category,
.board-title-category,
.board-author-category,
.board-good-category,
.board-readCount-category {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

.board-title {
	width: 400px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 50px;
}

.board-author {
	width: 20px;
	display: inline-block;
	margin-left: 1px;
}

.board-good {
	width: 80px;
	display: inline-block;
	margin-left: 90px;
}

.board-readCount {
	width: 80px;
	display: inline-block;
	margin-left: 110px;
}

.board-title1 {
	width: 400px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 150px;
}

.board-author1 {
	width: 20px;
	display: inline-block;
	margin-left: 1px;
}

.board-good1 {
	width: 80px;
	display: inline-block;
	margin-left: 110px;
}

.board-readCount1 {
	width: 80px;
	display: inline-block;
	margin-left: 110px;
}


.board-number-category {
	margin-right: 30px;
}

.board-title-category {
	margin-left: 50px;
}

.board-author-category {
	margin-left: 280px;
}

.board-good-category {
	margin-left: 20px;
}

.board-readCount-category {
	margin-left: 80px;
}

.custom-recommend-btn {
	margin-left: 20px !important;
	display: inline-block !important;
	width: 50px !important;
	padding: 5px 10px !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
	background-color: #fff !important;
	color: #ff6347 !important;
	border: 1px solid #000;
}

.custom-recommend-btn:hover {
	background-color: #d63322 !important;
	border-color: #d63322 !important;
}


.pagination-container {
    margin-top: 20px !important;
    text-align: center !important; 
}

.pagination-button {
	width: 5px;
    display: inline-block !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.pagination-button:hover {
    background-color: #0056b3 !important;
}

.pagination-button:disabled {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.pagination-button.active {
    background-color: #0056b3 !important;
}

.pagination-button:focus {
    outline: none !important;
}
