<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Insert title here</title>
</head>

<body>
	<header>
		<nav>
			<a href="#" onclick="goToBoardList()">전체</a>
			<a href="#">자유</a>
			<a href="#">질문</a>
			<a href="#">기타</a>
		</nav>
		<div>
			<a href="#" id="register" th:if="${session.loginUser == null}" onclick="goToRegister()">회원가입</a>
			<a href="#" id="login" th:if="${session.loginUser == null}" onclick="goToLogin()">로그인</a>
			<a href="#" id="logout" th:if="${session.loginUser != null}" onclick="logout()">로그아웃</a>
			<a href="#" th:if="${session.loginUser != null}" onclick="goToProfilePage()">마이페이지</a>
		</div>
	</header>

	<div>
		<div class="container">
			<!-- 로그인 -->
			<div id="loginPage" style="display: none;">
				<h2>로그인</h2>
				<div class="form-group">
					<input type="text" id="loginUserId" placeholder="아이디">
				</div>
				<div class="form-group">
					<input type="password" id="loginUserPassword" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<button onclick="login()">로그인</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToFindId()">아이디 찾기</a>
				<a href="#" onclick="goToFindPassword()">비밀번호 찾기</a>
			</div>
			<!-- 아이디 찾기 -->
			<div id="forgotUserIdForm" style="display: none;">
				<h2>아이디 찾기</h2>
				<div class="form-group">
					<input type="text" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<button>찾기</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToLogin()">로그인</a>
			</div>
			<!-- 비밀번호 찾기  -->
			<div id="forgotPasswordForm" style="display: none;">
				<h2>비밀번호 찾기</h2>
				<div class="form-group">
					<input type="text" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<button>찾기</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToLogin()">로그인</a>
			</div>


			<!-- 회원가입  -->
			<div id="registerPage" style="display: none;">
				<h2>회원가입</h2>
				<div class="form-group">
					<input type="text" id="userId" placeholder="아이디">
					<button onclick="checkDuplicate()">중복 확인</button>
				</div>
				<div class="form-group">
					<input type="password" id="userPassword" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<input type="password" id="confirmPassword" placeholder="비밀번호 확인">
				</div>
				<div class="form-group">
					<input type="text" id="userName" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" id="userBirthDate" placeholder="생년월일">
				</div>
				<div class="form-group">
					<input type="text" id="userPhone" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<input type="text" id="userAddress" placeholder="주소">
				</div>
				<div class="form-group">
					<input type="text" id="userEmail" placeholder="이메일">
				</div>
				<div class="form-group">
					<button id="signUpButton" onclick="signUp()">회원가입</button>
				</div>
				<p>이미 계정이 있으신가요? <a href="#" onclick="goToLogin()">로그인</a></p>
			</div>

			<!-- 회원 정보 수정  -->
			<div id="editProfilePage" style="display: none;" th:if="${loginUser != null}">
				<h2>회원정보수정</h2>
				<input type = "hidden" id="confirmUserPassword" th:value="${loginUser.userPassword}">
				<div class="form-group">
					<input type="text" th:value="${loginUser.userId}" placeholder="아이디" readonly>
				</div>
				<div class="form-group">
					<input type="password" id="beforeUpdateUserPassword" placeholder="이전 비밀번호">
					<button onclick="confirmPassword()">비밀번호 인증</button>
				</div>
				<div class="form-group">
					<input type="password" placeholder="변경할 비밀번호">
				</div>
				<div class="form-group">
					<input type="password" placeholder="변경할 비밀번호 확인">
				</div>
				<div class="form-group">
					<input type="text" th:value="${loginUser.userName}" placeholder="이름" readonly>
				</div>
				<div class="form-group">
					<input type="text" th:value="${loginUser.userBirthDate}" placeholder="생년월일" readonly>
				</div>
				<div class="form-group">
					<input type="text" th:value="${loginUser.userPhone}" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<input type="text" th:value="${loginUser.userAddress}" placeholder="주소">
				</div>
				<div class="form-group">
					<input type="text" th:value="${loginUser.userEmail}" placeholder="이메일">
				</div>

				<div class="form-group">
					<button>저장</button>
				</div>
			</div>
			<!-- 회원 상세보기  -->
			<div class="container" id="profilePage" style="display: none;" th:if="${loginUser != null}">
				<input type="hidden" id="id" th:value="${loginUser.id}">
				<h2>나의 계정 정보</h2>
				<div class="form-group">
					<label>아이디:</label>
					<p th:text="${loginUser.userId}"></p>
				</div>
				<div class="form-group">
					<label>이름:</label>
					<p th:text="${loginUser.userName}"></p>
				</div>
				<div class="form-group">
					<label>연락처:</label>
					<p th:text="${loginUser.userPhone}"></p>
				</div>
				<div class="form-group">
					<label>이메일:</label>
					<p th:text="${loginUser.userEmail}"></p>
				</div>
				<div class="form-group">
					<label>주소:</label>
					<p th:text="${loginUser.userAddress}"></p>
				</div>
				<div class="form-group">
					<button onclick="goToEditProfile()">수정하기</button>
					<button onclick="deleteUser()">회원 탈퇴하기</button>
				</div>
			</div>

			<!-- 게시판 리스트  -->
			<div id="boardListPage" style="display: block;">
				<h2>게시글</h2>
				<div class="search-container">
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요...">
					<button onclick="searchBoard()">검색</button>
				</div>
				<ul>
					<li>
						<span class="board-number-category">번호</span>
						<span class="board-title-category">제목</span>
						<span class="board-author-category">작성자</span>
						<span class="board-good-category">추천</span>
						<span class="board-readCount-category">조회수</span>
					</li>
					<li>
						<span class="board-number">1</span>
						<a href="#" onclick="goToBoardDetail(1)">제목</a>
						<span class="board-author">작성자1</span>
						<span class="board-good">10</span>
						<span class="board-readCount">10</span>
					</li>
					<li>
						<span class="board-number">2</span>
						<a href="#" onclick="goToBoardDetail(2)">제목</a>
						<span class="board-author">작성자2</span>
					</li>
				</ul>
				<div class="form-group">
					<button onclick="goToWriteBoard()">작성하기</button>
				</div>
			</div>

			<!-- 게시판 상세보기  -->
			<div id="boardDetailPage" style="display: none;">
				<h2>게시글 상세페이지</h2>
				<div class="form-group">
					<label>제목:</label>
					<p>test1</p>
				</div>
				<div class="form-group">
					<label>내용:</label>
					<p>내용입니다~</p>
				</div>
				<div class="form-group">
					<button onclick="goToEditBoard()">수정하기</button>
					<button onclick="deleteBoard()">삭제하기</button>
				</div>
			</div>

			<!-- 게시판 작성  -->
			<div id="boardWritePage" style="display: none;">
				<h2>게시글 작성</h2>
				<div class="form-group">
					<input type="text" placeholder="제목">
				</div>
				<div class="form-group">
					<textarea placeholder="내용"></textarea>
				</div>
				<div class="form-group">
					<button>작성</button>
					<button onclick="cancelWriteBoard()">취소</button>
				</div>

			</div>

			<!-- 게시판 수정  -->
			<div id="boardEditPage" style="display: none;">
				<h2>게시글 편집</h2>
				<div class="form-group">
					<input type="text" placeholder="제목">
				</div>
				<div class="form-group">
					<textarea placeholder="내용"></textarea>
				</div>
				<div class="form-group">
					<button>수정하기</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/common.js"></script>
<script src="js/user.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>