<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Insert title here</title>
</head>

<body>
	<header>
		<nav>
			<a href="#">전체</a>
			<a href="#">자유</a>
			<a href="#">질문</a>
			<a href="#">기타</a>
		</nav>
		<div>
			<a href="#" onclick="goToRegister()">회원가입</a>
			<a href="#" onclick="goToLogin()">로그인</a>
		</div>
	</header>

	<div>
		<div class="container">
			<!-- 로그인 페이지 -->
			<div id="loginPage" style="display: none;">
				<h2>로그인</h2>
				<div class="form-group">
					<input type="text" placeholder="아이디">
				</div>
				<div class="form-group">
					<input type="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<button>로그인</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToFindId()">아이디 찾기</a>
				<a href="#" onclick="goToFindPassword()">비밀번호 찾기</a>
			</div>
			<!-- 아이디 찾기 폼 -->
			<div id="forgotUsernameForm" style="display: none;">
				<h2>아이디 찾기</h2>
				<div class="form-group">
					<input type="text" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<button>찾기</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToLogin()">로그인</a>
			</div>
			<!-- 비밀번호 찾기 폼 -->
			<div id="forgotPasswordForm" style="display: none;">
				<h2>비밀번호 찾기</h2>
				<div class="form-group">
					<input type="text" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" placeholder="핸드폰번호">
				</div>
				<div class="form-group">
					<button>찾기</button>
				</div>
				<a href="#" onclick="goToRegister()">회원가입</a>
				<a href="#" onclick="goToLogin()">로그인</a>
			</div>


			<!-- 회원가입 페이지 -->
			<div id="registerPage" style="display: none;">
				<h2>회원가입</h2>
				<div class="form-group">
					<input type="text" placeholder="아이디">
				</div>
				<div class="form-group">
					<input type="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<input type="password" placeholder="비밀번호 확인">
				</div>
				<div class="form-group">
					<button>회원가입</button>
				</div>
				<p>이미 계정이 있으신가요? <a href="#" onclick="goToLogin()">로그인</a></p>
			</div>

			<!-- 회원 정보 수정 페이지 -->
			<div id="editProfilePage" style="display: none;">
				<h2>회원정보수정</h2>
				<div class="form-group">
					<input type="text" placeholder="아이디">
				</div>
				<div class="form-group">
					<input type="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<input type="text" placeholder="이름">
				</div>
				<div class="form-group">
					<input type="text" placeholder="주소">
				</div>
				<div class="form-group">
					<input type="text" placeholder="이메일">
				</div>

				<div class="form-group">
					<button>저장</button>
				</div>
			</div>

			<!-- 회원 상세보기 페이지 -->
			<div class="container" id="profilePage" style="display: none;">
				<h2>나의 계정 정보</h2>
				<div class="form-group">
					<label>아이디:</label>
					<p>test1</p>
				</div>
				<div class="form-group">
					<label>이름:</label>
					<p>test</p>
				</div>
				<div class="form-group">
					<label>연락처:</label>
					<p>010-1111-1111</p>
				</div>
				<div class="form-group">
					<label>이메일:</label>
					<p>test</p>
				</div>
				<div class="form-group">
					<label>주소:</label>
					<p>test</p>
				</div>
				<div class="form-group">
					<button onclick="goToEditProfile()">수정하기</button>
				</div>
			</div>

			<!-- 게시판 리스트 페이지 -->
			<div id="boardListPage" style="display: block;">
				<h2>게시글</h2>
				<div class="search-container">
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요...">
					<button onclick="searchBoard()">검색</button>
				</div>
				<ul>
					<li>
						<span class="board-number-category">번호</span>
						<span class="board-title-category">제목</span>
						<span class="board-author-category">작성자</span>
						<span class="board-good-category">추천</span>
						<span class="board-readCount-category">조회수</span>
					</li>
					<li>
						<span class="board-number">1</span>
						<a href="#" onclick="goToBoardDetail(1)">제목</a>
						<span class="board-author">작성자1</span>
						<span class="board-good">10</span>
						<span class="board-readCount">10</span>
					</li>
					<li>
						<span class="board-number">2</span>
						<a href="#" onclick="goToBoardDetail(2)">제목</a>
						<span class="board-author">작성자2</span>
					</li>
					<!-- 기타 게시글 목록 -->
				</ul>
				<div class="form-group">
					<button onclick="goToWriteBoard()">작성하기</button>
				</div>
			</div>

			<!-- 게시판 상세보기 페이지 -->
			<div id="boardDetailPage" style="display: none;">
				<h2>게시글 상세페이지</h2>
				<div class="form-group">
					<label>제목:</label>
					<p>test1</p>
				</div>
				<div class="form-group">
					<label>내용:</label>
					<p>내용입니다~</p>
				</div>
				<div class="form-group">
					<button onclick="goToEditBoard()">수정하기</button>
					<button onclick="deleteBoard()">삭제하기</button>
				</div>
			</div>

			<!-- 게시판 작성 페이지 -->
			<div id="boardWritePage" style="display: none;">
				<h2>게시글 작성</h2>
				<div class="form-group">
					<input type="text" placeholder="제목">
				</div>
				<div class="form-group">
					<textarea placeholder="내용"></textarea>
				</div>
				<div class="form-group">
					<button>작성</button>
					<button onclick="cancelWriteBoard()">취소</button>
				</div>

			</div>

			<!-- 게시판 수정 페이지 -->
			<div id="boardEditPage" style="display: none;">
				<h2>게시글 편집</h2>
				<div class="form-group">
					<input type="text" placeholder="제목">
				</div>
				<div class="form-group">
					<textarea placeholder="내용"></textarea>
				</div>
				<div class="form-group">
					<button>수정하기</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/common.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>